<p>うちのこ</p>
<p>かわいい動物を素敵なオーナーさんから見つけて楽しむことができます。</p>
<p>うちのこ見ていって</p>

<p>どんなことが話題沸騰？
  ハッシュタグで投稿してみましょう</p>


    <div class="sign_button sign_up_button">
        <%= link_to "アカウントを新規作成", new_user_registration_path %>
    </div>


    <div class="sign_button sign_in_button">
      <%= link_to "ログイン", new_user_session_path %>
    </div>
